.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: -20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
  margin-right: 170px
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important   
.banner-interno__titulo__icono i
  color: white !important
figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 8% !important 
      padding-right: 8% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important

.barra-avance__boton--regresar span 
  color: white !important

// Tema 1
.acordion__accion__btn--a
  background-color:  $color-acento-botones
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
  color: white

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #dfecf5
  h3
    color: black
.acordion .tarjeta.tarjeta--azul
  background-color: $color-acento-contenido
  h3
    color: black
.acordeoncolor
  background-color: $color-adicional-1



// Tema 2

.cajon-color-adicional-2
  background-color: $color-adicional-2
  height: 260px
.cajon-color-adicional-3
  background-color: #EEFDFA
  height: 260px
.cajon-color-adicional-4
  background-color: #FFF6F1
  height: 230px
.cajon-color-adicional-5
  background-color: $color-adicional-2
.cajon-color-adicional-6
  background-color: #BBF6EA
  height: 95%
.cajon-color-adicional-7
  background-color: #99ABC6
.cajon-color-adicional-8
  background-color: #E6EAF1
.cajon-color-adicional-9
  background-color: #FFF6F1
  height: 325px
.cajon-color-adicional-10
  background-color: #FFF6F1
.cajon-color-adicional-11
  background-color: #DDFAF5
  width: 100%
.lista-ul__vineta
  font-weight: bold

.imgajustada
  height: 260px
.imgajustada2
  height: 450px
.imgajustada3
  height: 325px
.linea-tiempo-d .tarjeta
  background-color: #DDFAF5
.linea-tiempo-d__item__content__title

.slyder-a__bullets__item 
  background-color: #B0BCF2
  border-color: #B0BCF2
.slyder-a__bullets__item--active 
  background-color: #56E9CC !important
  border-color: #56E9CC !important
.slyder-a__tipo-b .slyder-a__btn--sigt 
  content: url('../assets/curso/tema2/der.svg')
  transform: rotate(0deg)
  right: 15px
.slyder-a__tipo-b .slyder-a__btn--atrs 
  content: url('../assets/curso/tema2/izq.svg')
  transform: rotate(0deg)
  left: 15px

.prinslyder
  background: url('../assets/curso/tema2/fondo1.png')
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  border-radius: 10px

.imageslyder
  img
    margin-top: 25px

.slyder2
  height: 450px
  background-color: #FFD9C5
  
.slyder1 .tarjeta-btn
  background-color: #FFD9C5
  transition: all 0.3s ease-out
  height: 82% !important
  margin-top: 20px
  .title
    background-color: white
    width: fit-content
    padding: 3px 20px
    margin: 0 auto 
.slyder2 .tarjeta-btn
  background-color: white
  transition: all 0.3s ease-out
  height: 82% !important
  margin-top: 20px
  .title
    background-color: $color-acento-contenido
    width: fit-content
    padding: 3px 20px
    margin: 0 auto  
.slyder3 .tarjeta-btn
  background-color: white
  transition: all 0.3s ease-out

  
.slyder1.slyder-f
  .slyder-f__slyde
    width: 50% !important
    height: 500px
  @media (max-width: $bp-max-md)
    .slyder-f__slyde
      width: 100% !important
  .tarjeta
    img
      width: 90px
      height: 90px
      margin: 0 auto
.slyder2.slyder-f
  .slyder-f__slyde
    width: 50% !important
    height: 500px
  @media (max-width: $bp-max-md)
    .slyder-f__slyde
      width: 100% !important
  .tarjeta
    img
      width: 90px
      height: 90px
      margin: 0 auto
.slyder3.slyder-f
  .slyder-f__slyde
    width: 50% !important
  @media (max-width: $bp-max-md)
    .slyder-f__slyde
      width: 100% !important
  .tarjeta
    background-color: #FFD9C5
    img
      width: 90px
      height: 90px
      margin: 0 auto
.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center

.tema1 .sliders p
  background-color: white
  padding: 15px 15px 15px 15px
  border-radius: 10px
  margin-top: 30px

.tema4 .sliders .texto
  background-color: white
  padding: 15px 15px 15px 15px
  border-radius: 10px
  margin-top: 30px

.tema4
  background-color: white
  width: 93%
  margin-top: 20px



// Tema 3

.imgpeqt3
  width: 100px
  height: 120px
  margin-top: -20px
.imgpeqt4
  width: 35%
.titulotj
  background-color: white
  width: fit-content
  margin: auto

.colortj
  background-color: #FFD9C5
.tarjeta--boton
  &:hover
    background-color: #FFD9C5

.imgcenter
  display: block
  margin-left: auto
  margin-right: auto

.licolor
  background-color: #CCD5E3
  border-radius: 10px

.imageheight
  height: 280px

.imageheight2
  height: 250px

.imageheight3
  height: 218px

.imagediv
  height: 145px


.imagetema5
  width: 75%
  margin-left: 30px
.coltema5
  background-color: #FFF6F1
  height: 450px

.sinborde
  border: none
.cajon .lista-ul--color li > i:first-of-type
  color: $color-secundario


















.bg1
  background-color: #E6EAF1

.fa-circle-check
  content: url('../assets/curso/tema1/ico.png')
  width: 14px
  height: 14px

.fa-circle-check1
  content: url('../assets/curso/tema6/icon.png')
  width: 14px
  height: 14px

.lista-ol--cuadro__vineta span
  color: black
  font-weight: 700

  
.img-t
  width: auto !important
  height: auto !important
.img-a
  display: block  !important
  margin: auto  !important

.bg2
  background-color: #FFF6F1

.linea-tiempo-d.color-acento-boton .linea-tiempo-d__item--selected .linea-tiempo-d__item__content 
    background-color: #DDFAF5
.linea-tiempo-d .tarjeta 
    border-radius: 5px
    background-color: #AFD1E6
.linea-tiempo-d.color-acento-boton.activo .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color:#DDFAF5
.linea-tiempo-d.color-acento-boton.activo .linea-tiempo-d__item__number 
    background-color: #AFD1E6
.linea-tiempo-d__item__dots:after 
    content: ''
    display: block
    width: 0
    height: 100%
    border-left: 5px dotted #56E9CC

.bloque-texto-d 
    border-top: none
.bloque-texto-d.color-secundario:before 
    background-color: #EFF6FA
.bloque-texto-d:before 
    content: ''
    display: block
    position: absolute
    top: 33%
    bottom: 0
    left: 22%
    right: 0


.fondo2
  background: url('../assets/curso/tema2/fondo2.jpg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
.tarjetap
  background-color: #fff
  border-radius: 15px

.slyder-a__bullets__item 
    background-color: #C4F7ED
    border-color: #C4F7ED
.slyder-a__bullets__item--active 
    background-color: #56E9CC !important
    border-color: #56E9CC!important
@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 12px
        height: 12px
        margin: 0px 1px
@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 45px
    height: 45px


.fondo3
  background: url('../assets/curso/tema2/fondo3.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

.fondo33
  background-color: #F7FAFC
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem

@media (min-width: 1200px) 
  .mod  
    .col-xl-3 
        flex: 0 0 auto
        width: 41%
@media (min-width: 1200px) 
  .mod
    .col-xl-9 
        flex: 0 0 auto
        width: 59%

.bg5
  background-color: #DFECF5!important 
  border-radius: 10px
.tabs-a__tab:last-child 
    margin-bottom: 0 !important
    background-color: #56E9CC
.tabs-a__tab 
    padding: 15px 9px

.fondo4
  background: url('../assets/curso/tema3/fondo4.jpg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem


.ia
  img
    width: 15px
  h2
    color: black
  &::after 
    content: ""
    display: block
    height: 4px
    width: 50%
    background-color: #99ABC6
    border-radius: 50px

.tarjeta-flip__contenido
    background-color: #BBF6EA !important
    height: 300px


.sob1
  margin-left: -15% 
  margin-bottom: -24px
  z-index: 2
.crd--avatarHorizontal
  position: relative
  padding-right: 9rem
  & > *
    position: relative
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 50px)
    height: 100%
    background-color: #E6EAF1
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--first, .crd--last
  &::before
    background-color: #CCD5E3 !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px
.crd--avatarHorizontal1::before 
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc(100% - 50px)
    height: 100%
    background-color: #E6EAF1
.crd--
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 50px)
    height: 100%
    background-color: #CCD5E3

.bg6
  background-color: #FFF6F1

.bg7
  background-color: #FFD9C5
  border-radius: 20px
  height: 95%

.bg8
  background-color: #DDFAF5
  border-radius: 20px
  height: 95%

.sob
  margin-right: -14% 
  z-index: 2
.bg9
  background-color: #EEFDFA


.bg10
  background-color: #E6EAF1

.fndd
  background: url('../assets/curso/tema5/fndd.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: -20px bottom
  margin-inline: -3.4rem
  @media only screen and (min-width: 1024px) and (max-width: 1439px)
    margin-right: -4.3rem
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    margin-inline: -4.15rem
  @media only screen and (max-width: 767px)
    margin-inline: -2.73rem

.tarjeta--slyder.b2
  background-color:#FFFFFF
.fa-chevron-right:before 
    content: url('../assets/curso/tema5/der.png')
.fa-chevron-left:before 
    content: url('../assets/curso/tema5/izq.png')
.bg11
  background-color: #56E9CC


.mva
  margin-bottom: -45px


.titulo
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo img
  width: 63px
  position: absolute
  top: -12%
  right: 89%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: 1%
    right: 90%
  @media only screen and (max-width: 767px)
    display: none

.titulo1
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo1 img
  width: 63px
  position: absolute
  top: -12%
  right: 80%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -8%
    right: 80%
  @media only screen and (max-width: 767px)
    display: none

.titulo2
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo2 img
  width: 63px
  position: absolute
  top: -12%
  right: 91%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: 1%
    right: 90%
  @media only screen and (max-width: 767px)
    display: none

.titulo3
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo3 img
  width: 63px
  position: absolute
  top: -12%
  right: 83%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -5%
    right: 85%
  @media only screen and (max-width: 767px)
    display: none

.titulo4
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo4 img
  width: 63px
  position: absolute
  top: -12%
  right: 88%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -5%
    right: 88%
  @media only screen and (max-width: 767px)
    display: none

.titulo5
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo5 img
  width: 63px
  position: absolute
  top: -12%
  right: 85%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -5%
    right: 83%
  @media only screen and (max-width: 767px)
    display: none

.titulo6
  background-color:#FFD9C5
  width: fit-content
  padding: 7.5px
  position: relative 
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 25px 10px 10px 25px
  @media only screen and (max-width: 767px)
    border-radius: 10px
.titulo6 img
  width: 63px
  position: absolute
  top: -12%
  right: 81%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 60px
    top: -5%
    right: 81%
  @media only screen and (max-width: 767px)
    display: none


.tabs-c.color-primario .tabs-c__tab--active 
  background-color: white
  font-weight: 900
.tabs-c__tab 
  background-color: white
  border-bottom: 6px solid #E8E8E8
.tabs-c.color-primario .tabs-c__tab--active 
  border-bottom-color: #965838 !important
.tabs-c.color-primario .tabs-c__tab--active:before 
  border-top-color: #965838 
.tabs-c__tab--active 
  border-bottom: 6px solid !important
.tabs-c__header 
  margin-bottom: -7px
.tabs-c__tab:after 
  width: 2.5px;
  height: 25px;
  top: 50%;
  right: -2px;
  background-color: #E8E8E8


.imaa
  width: 90px
  height: 90px

.tarjeta-avatar-b__img
    align-items: flex-start !important

.width-25 .tarjeta-avatar-b__img 
  min-width: 25%
  max-width: 25%



.cont_5_1, .cont_5_1 *
  position: relative
.cont_5_1:before
  content: ''
  position: absolute
  width: 125%
  height: 70%
  top: 15%
  bottom: 15%
  left: -15%
  background-size: 100% 100%
.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 10px
.crd_hover_txt .crd_hover_txt--body
  position: absolute
  padding: 1.5rem
  width: 100%
  bottom: 0
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 3.85rem))
.crd_hover_txt:hover .crd_hover_txt--body
  transition: all .5s ease-in-out
  transform: translateY(0)
  background-color: #BBF6EA!important
.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important
.colt
  background-color: #011B44


.bgb
  border: 3px solid #56E9CC
  border-radius: 20px 

.tarjeta-numerada__numero
  img
    margin-left: -10px
    width: 130%;
    max-width: 130%;

@media screen and (max-width: 1023px) 
    .disappearing-image 
        opacity: 0;
        transform: scale(0.8);
        pointer-events: none;

.bg12
  background-color: #FFF6F1
  border-radius: 20px

.fondop
  background-color: #FFA06F

.bg13
  background-color: #E6EAF1
  border-radius: 18px

.fondo7
  background: url('../assets/curso/tema7/fondo7.png')
  background-size: 60% 43%
  background-repeat: no-repeat
  background-position: center center
  
.bg14
  background-color: #CCD5E3
  border-radius: 18px

.bg15
  background-color: #FFD9C5
  border-radius: 18px

.bg16
  background-color: #DDFAF5

.bg17
  background-color: #FFF6F1

.bg18
  background-color: #EFF6FA
  border-radius: 18px

.bg19
  background-color: #012D71

.enl
  overflow-wrap: break-word
  word-break: break-word

@media (max-width: 767px) 
  .txp
    font-size: 0.85em !important
@media (min-width: 768px) and (max-width: 1024px)
  .txp
    font-size: 0.80em

.titulo-sexto.color-secundario 
    border-left-color: #56E9CC !important
.titulo-sexto 
    margin-bottom: 24px
    border-left: 10px solid
    padding: 5px 0 2px 8px

.bg20
  background-color: #56E9CC

.bg21
  background-color: #CCD5E3

.bg22
  background-color: #E6EAF1

.tarjeta--azull
  background-color: #F7FAFC
  border-radius: 0px



.slyder-a__tipo-a .slyder-a__btn--sigt 
  content: url('../assets/curso/tema2/der.svg')
  transform: rotate(0deg)
  right: 15px
.slyder-a__tipo-a .slyder-a__btn--atrs 
  content: url('../assets/curso/tema2/izq.svg')
  transform: rotate(0deg)
  left: 15px


.tabla-a.color-acento-contenido
  table
    table-layout: auto
    width: 100% 
    th:nth-child(1) 
      width: 24%
    th:nth-child(2) 
      width: 40%
    th:nth-child(3) 
      width: 10% 
    th:nth-child(4) 
      width: 10% 
    th:nth-child(5) 
      width: 16%
.tl
  text-align: left
.tabla-a.color-acento-contenido table thead tr:nth-child(2) th:nth-child(3),
.tabla-a.color-acento-contenido table thead tr:nth-child(2) th:nth-child(4) 
  background-color: #E6EAF1

.tabla-a th 
    background-color: #CCD5E3
    border: #CCD5E3
.tabla-a.color-acento-contenido table thead th 
  text-align: center
  padding: 8px
  height: 40px
.tabla-a.color-acento-contenido table tbody td 
  padding: 15px
  height: 35px
  line-height: 1.2
