.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: -20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
  margin-right: 170px
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: white !important
figcaption
  font-weight: normal

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
      border-radius: 0px
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important

.barra-avance__boton--regresar span 
  color: white !important

.acordion__accion__btn--a
  background-color:  $color-acento-botones
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
  color: white

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #dfecf5
  h3
    color: black
.acordion .tarjeta.tarjeta--azul
  background-color: $color-acento-contenido
  h3
    color: black
.acordeoncolor
  background-color: $color-adicional-1

.subt
  display: flex
  align-items: center
  position: relative
  img
    width: 70px
    z-index: 10
  &::after
    content: ''
    position: absolute
    background-color: #FFD9C5
    width: 45%
    height: 80%
    top: 8px
    left: 50px
    z-index: 1
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-sm)
    &::after
      height: 90%
      width: 450px
      top: 2px
  @media (max-width: 820px)
    &::after
      height: 90%
      width: 450px
      top: 2px
  @media (max-width: $bp-max-xs)
    &::after
      height: 95%
      width: 260px
      top: 0px

.imagehide
  @media (max-width: $bp-max-md)
    display: none
  @media (max-width: 767px)
    display: none

.row .imagenpeq
    width: 80px
    height: 70px
.cajon-color-adicional-2
  background-color: $color-adicional-2
  height: 260px
.cajon-color-adicional-3
  background-color: #EEFDFA
  height: 260px
.cajon-color-adicional-4
  background-color: #FFF6F1
  height: 230px

.lista-ul__vineta
  font-weight: bold